

.card {
    padding: 15px;
    margin-top: 0px;
    margin: 15px;
    background: rgb(255, 255, 255);
    flex-basis: 30%;
    /* border-style: solid;
    border-size: 1px; */
    box-shadow: 2px 2px 7px rgb(206, 205, 205);
    color: black;
}

.login_container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 70%;
    height: 350px;
    margin-top: 100px;
    align-content: center;
    padding-top: 20px;
    box-shadow: 2px 2px 16px rgb(161, 160, 160);
};


.card--first {
    font-style: italic;
    flex-basis: 30%;
    background-color:rgb(240, 230, 212);
}

.firstEventName {
    color: rgb(163, 25, 25);
    font-size: 1.7em;
    font-weight: 900;
}

.no_h3 {
    margin-left: 30px;
}

.formgrid {
    /* display: flex; */
    margin: 10px;
}

label {
    margin: 5px;
}

a.nav-link {    
    color: white;
}

a.nav-link_login {
    color: gray;
    margin-bottom: 30px;
}

a.nav-link_login:hover {
    color: rgb(132, 184, 226);

}

a.nav-link:hover {
    color: rgb(132, 184, 226);
}

.card-completed {
    padding: 10px;
    margin: 10px;
    background: rgb(218, 114, 114);
    flex-basis: 30%;
    color: gray;
    text-decoration: line-through;
}

.invisibleButton {
    font-weight: bold;
}

.task__name {
    font-size: 1.3em;
    font-weight: bold;
}

.taskComplete_name {
    font-size: 1.1em;
}

.feature__name {
    font-size: 1.7em;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px lightgrey;
    /* background-color: whitesmoke; */
}

.welcome_greeting {
    font-size: 1em;
    margin: auto;
    color: black;
    /* margin-top: 20px; */
    text-align: center;
    background-color: rgb(238, 238, 241);
}

h2, h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.home_h3 {
    /* text-decoration: underline; */
    color: rgb(48, 47, 47);
    padding-left: 5px;
    background: linear-gradient(to right, #ab742c 0%, #ffffff 90%);
}


h4 {
    font-size: 1.2em;
    font-weight: bold;
}

.home_p {
    margin-bottom: 3px;
}

.friend_submit {
    width: 95%;
}

.button {
    align-content: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 5px;
}

.sign_out {
    height: 45px;
    margin: auto;
    margin-right: 5px;
}

.color_change_btn {
    height: 45px;
    margin: auto;
    margin-right: 5px;
    line-height: 90%;
}

.outline_button {
    margin-right: 10px;
}

#message {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
    width: 97%;
}

.btn {
    margin-left: 10px;
    margin-bottom: 5px;
}

.checked {
    /* display: none; */
    text-decoration: line-through;
    opacity: 0.5;
    display: none;
    width: 0px;
}

hr {
    margin-bottom: 15px;
    margin-top: 5px;
}

.home_img {
    width: 195px;
    height: 51px;
}

img {
    width: 30%;
    height: auto;
}

.welcome {
    margin-top: 15px;
}

.h1_messages {
    color: black;
}